<a href="https://colab.research.google.com/github/githubfoam/jupyter-notebooks/blob/master/basic_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Iris Data Set 
# Machine Learning Repository
# http://archive.ics.uci.edu/ml/datasets/Iris
# Data Set Description
# http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.names
import pandas as pd
url = "http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'class']
data = pd.read_csv(url, names=names)
# data = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [6]:
# 2. View the data as a table
data.head()

   sepal-length  sepal-width  petal-length  petal-width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
# Basic Statistics Summary
# describe()- will returns the quick stats such as count, mean, std (standard deviation), 
# min, first quartile, median, third quartile, max on each column of the dataframe
data.describe()

       sepal-length  sepal-width  petal-length  petal-width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
# cov() - Covariance indicates how two variables are related. A positive covariance means 
# the variables are positively related, while a negative covariance means the variables are inversely related. 
# Drawback of covariance is that it does not tell you the degree of positive or negative relation
data.cov()

              sepal-length  sepal-width  petal-length  petal-width
sepal-length      0.685694    -0.039268      1.273682     0.516904
sepal-width      -0.039268     0.188004     -0.321713    -0.117981
petal-length      1.273682    -0.321713      3.113179     1.296387
petal-width       0.516904    -0.117981      1.296387     0.582414

In [9]:
# corr() - Correlation is another way to determine how two variables are related. 
# In addition to telling you whether variables are positively or inversely related, correlation also 
# tells you the degree to which the variables tend to move together. When you say that two items correlate, 
# you are saying that the change in one item effects a change in another item. You will always talk about correlation 
# as a range between -1 and 1. In the below example code, petal length is 87% positively related to sepal length 
# that means a change in petal length results in a positive 87% change to sepal lenth and vice versa.
data.corr()

              sepal-length  sepal-width  petal-length  petal-width
sepal-length      1.000000    -0.109369      0.871754     0.817954
sepal-width      -0.109369     1.000000     -0.420516    -0.356544
petal-length      0.871754    -0.420516      1.000000     0.962757
petal-width       0.817954    -0.356544      0.962757     1.000000