<a href="https://colab.research.google.com/github/githubfoam/jupyter-notebooks/blob/master/basic_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Iris Data Set 
# Machine Learning Repository
# http://archive.ics.uci.edu/ml/datasets/Iris
# Data Set Description
# http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.names
import pandas as pd
data = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [2]:
# 2. View the data as a table
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [3]:
# Basic Statistics Summary
# describe()- will returns the quick stats such as count, mean, std (standard deviation), 
# min, first quartile, median, third quartile, max on each column of the dataframe
data.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [4]:
# cov() - Covariance indicates how two variables are related. A positive covariance means 
# the variables are positively related, while a negative covariance means the variables are inversely related. 
# Drawback of covariance is that it does not tell you the degree of positive or negative relation
data.cov()

          5.1       3.5       1.4       0.2
5.1  0.686568 -0.037279  1.270362  0.515347
3.5 -0.037279  0.187921 -0.316731 -0.115749
1.4  1.270362 -0.316731  3.096372  1.289124
0.2  0.515347 -0.115749  1.289124  0.579566

In [5]:
# corr() - Correlation is another way to determine how two variables are related. 
# In addition to telling you whether variables are positively or inversely related, correlation also 
# tells you the degree to which the variables tend to move together. When you say that two items correlate, 
# you are saying that the change in one item effects a change in another item. You will always talk about correlation 
# as a range between -1 and 1. In the below example code, petal length is 87% positively related to sepal length 
# that means a change in petal length results in a positive 87% change to sepal lenth and vice versa.
data.corr()

          5.1       3.5       1.4       0.2
5.1  1.000000 -0.103784  0.871283  0.816971
3.5 -0.103784  1.000000 -0.415218 -0.350733
1.4  0.871283 -0.415218  1.000000  0.962314
0.2  0.816971 -0.350733  0.962314  1.000000